@mixin brandon {
	font-family:'Brandon Grot W01 Black';
	font-weight: normal;
	letter-spacing: 4px;
}

.brandon {
	@include brandon;
}

@mixin caslon {
	font-family:'AdobeCaslonW01-Regular';
	font-weight: normal;
}

.caslon {
	@include caslon;
}

@mixin caslon-italic {
	font-family:'AdobeCaslonW01-Regular';
	font-weight: normal;
}

.caslon-italic {
	@include caslon-italic;
}