html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	background: #FFF;
	color: #646363;
	@include font-size(13);
	line-height: 1.5;
	position: relative;

	&.single-work {
		background: #f9f9f9;
	}

	.animsition > .border {
		position: fixed;
		z-index: 5000;

		&.top {
			top: 0;
			left: 20px;
			height: 20px;
			border-bottom: 1px solid #000;
			width: calc(100% - 40px);
		}

		&.right {
			right: 0;
			top: 19px;
			width: 20px;
			border-left: 1px solid #000;
			height: calc(100% - 40px);			
		}

		&.bottom {
			bottom: 0;
			left: 19px;
			height: 22px;
			border-top: 1px solid #000;
			width: calc(100% - 39px);				
		}

		&.left {
			left: 0;
			top: 19px;
			width: 20px;
			border-right: 1px solid #000;
			height: calc(100% - 40px);			
		}

		@include device-width(5) {

			&.top {
				top: 0;
				left: 10px;
				height: 10px;
				width: calc(100% - 20px);
			}

			&.right {
				top: 9px;
				width: 10px;
				height: calc(100% - 20px);			
			}

			&.bottom {
				bottom: 0;
				left: 9px;
				height: 11px;
				width: calc(100% - 20px);				
			}

			&.left {
				top: 9px;
				width: 10px;
				height: calc(100% - 20px);			
			}			

		}
	}	
}

#tortilla {

	.header-fixed & {
		
	}

}

/* =============================================================================
   Header Layouts
   ========================================================================== */

#header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 5000;
	padding: 48px 0 0;

	.logo-container {
		text-align: center;
		@include font-size(0);

		.logo {
			color: #000;
			@include transition(all 0.3s ease);

			#ajlogo {
				margin: auto;
				width: 48px;
				height: 81px;	
				@include transition(all 0.3s ease);	

				path {
					fill-opacity: 1;
					stroke-width: 5;
					fill: #000;
				}		

				&.animate {

					path {
						fill-opacity: 0;
						stroke: #000;
						stroke-width: 5;
						stroke-dasharray: 870;
						stroke-dashoffset: 870;
						@include animation(draw 4s infinite ease-in);
					    -webkit-animation-iteration-count: 1;
					    animation-iteration-count: 1;
					    -webkit-animation-fill-mode: forwards;
					    animation-fill-mode: forwards;	
					    
						&.szar {
							@include animation-delay(2s);

							@include device-width(5) {
								@include animation-delay(0s);								
							}
						}

						&.dot {
							fill-opacity: 1;
							fill: #000;
							@include animation(no-draw 4s infinite linear);
						}				    		    
					}					
				}
			}

			@include keyframes(draw) {
				0% {
					stroke-dashoffset: 870;
					fill: none;
					fill-opacity: 0;										
				}	


				80% {
					stroke-dashoffset: 160;
					fill: #000;
					fill-opacity: 0;					
				}	
			
				100% {
					stroke-dashoffset: 0;
					fill: #000;
					fill-opacity: 1;
				}
			}

			@include keyframes(no-draw) {
			    from {
			      stroke-dashoffset: 870;
			      fill: #000;
			      fill-opacity: 1;									
			    }	

			     to {
			      stroke-dashoffset: 870;
			      fill: #000;
			      fill-opacity: 1;									
			    }	
			}			
		}
	}

	.site-title {
		@include brandon;
		text-align: center;
		text-transform: uppercase;
		font-weight: normal;
		margin-top: 35px;
		opacity: 1;

		@include device-width(5) {
			display: none;
		}
	    
		span {
			display: block;
		}

		.title {
			@include font-size(16); 
		}

		.sub {
			padding-top: 25px;
			@include font-size(10); 
			color: #b5b5b5;
		}
	}

	.admin-bar &{
		 top: 32px;
	}

	.header-fixed & {
		padding: 47px 0 0;

		.logo-container {
		}

		.logo {
			#ajlogo {
				width: 30px;
				height: 48px;				
			}
		}
	}

	.single-work.header-fixed & {
		padding: 47px 0 0;			

		.logo {

			#ajlogo {
				width: 30px;
				height: 48px;				
			}
		}
	}

}

#main {
	padding-top: 20em;

	@include device-width(5) {
		padding-top: 10em;		
	}

	.single-work & {
		padding-top: 0;
	}
}

#footer {
	position: fixed;
	bottom: 22px;
	width: 100%;
	text-align: center;
	z-index: 5000;

	.home & {
		@include device-width(5) {
			position: static;
		  	display: block;
		  	text-align: center;
		  	margin-bottom: 2em;			
		}
	}
}