html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	background: #FFF;
	color: #646363;
	@include font-size(13);
	line-height: 1.5;
	position: relative;

	.animsition > .border {
		position: fixed;
		z-index: 5000;

		&.top {
			top: 0;
			left: 20px;
			height: 20px;
			border-bottom: 1px solid #000;
			width: calc(100% - 40px);
		}

		&.right {
			right: 0;
			top: 19px;
			width: 20px;
			border-left: 1px solid #000;
			height: calc(100% - 40px);			
		}

		&.bottom {
			bottom: 0;
			left: 19px;
			height: 22px;
			border-top: 1px solid #000;
			width: calc(100% - 39px);				
		}

		&.left {
			left: 0;
			top: 19px;
			width: 20px;
			border-right: 1px solid #000;
			height: calc(100% - 40px);			
		}

	}	
}

#tortilla {

	.header-fixed & {
		
	}

}

/* =============================================================================
   Header Layouts
   ========================================================================== */

#header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 500;
	padding: 48px 0 0;

	.logo-container {
		text-align: center;
		@include font-size(0);

		.logo {
			color: #000;
			@include transition(all 0.3s ease);

			#ajlogo {
				margin: auto;
				width: 60px;
				height: 100px;	
				@include transition(all 0.3s ease);			

				.path {
					fill-opacity: 0;
					stroke: #000;
					stroke-width: 5;
					stroke-dasharray: 870;
					stroke-dashoffset: 870;
					@include animation(draw 4s infinite ease-in);
				    -webkit-animation-iteration-count: 1;
				    animation-iteration-count: 1;
				    -webkit-animation-fill-mode: forwards;
				    animation-fill-mode: forwards;
				}
			}

			@include keyframes(draw) {
				0% {
					stroke-dashoffset: 870;
					fill: none;
					fill-opacity: 0;										
				}	


				80% {
					stroke-dashoffset: 160;
					fill: #000;
					fill-opacity: 0;					
				}	
			
				100% {
					stroke-dashoffset: 0;
					fill: #000;
					fill-opacity: 1;
				}
			}
		}
	}

	.admin-bar &{
		 top: 32px;
	}

	.header-fixed & {
		padding: 10px 0 0;
		background: rgba(#FFF, 0.9);

		.logo-container {
		}

		.logo {
			#ajlogo {
				width: 20px;
				height: 40px;				
			}
		}
	}
}

#main {
	padding-top: 14em;

	.single-work & {
		padding-top: 0;
	}
}

#footer {
	position: fixed;
	bottom: 22px;
	width: 100%;
	text-align: center;
	z-index: 5000;
}