.navigation {

	ul.menu {
	}

	li {
		@include inline-block;

		a {
			@include font-size(12);
			@include brandon;
			text-transform: uppercase;
			&:hover {
				border-bottom: 1px solid #000;
			}
		}

		&.current-menu-item, &.current-page-ancestor {
			a {
				border-bottom: 1px solid #000;
			}						
		}
	}

	.navigation-open & {

	}
}

.footer-navigation {

	li {
		margin: 0 3em;
		line-height: 4em;

		a {
			letter-spacing: 4px;
		}
	}
}

.grid {
	@extend .clearfix;
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 10em;
	max-width: 1000px;
	list-style: none;
	text-align: center;

	li {
		width: 48%;
		float: left;
		margin: 4em 1%;

		@include device-width(8) {
			&:nth-child(2n+1) {
				clear: left;
			}
		}	

		@include device-width(5) {
			width: 98%;
		}				

		&.full {
			width: 100%;

			@include device-width(8) {
				width: 48%;
			}			
		}
	}

	figure {
		position: relative;
		float: left;
		overflow: hidden;
		margin: 10px 1%;
		height: auto;
		background: #3085a3;
		text-align: center;
		cursor: pointer;

		@include device-width(8) {
			margin: 0 !important;
		}		

		img {
			position: relative;
			display: block;
			min-height: 100%;
			max-width: 100%;
			opacity: 1;
		}		


		figcaption {
			@include backface-visibility('hidden');

			&::before,
			&::after {
				pointer-events: none;
			}		

			> a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1000;
			}				
		}		
	}	
}

figure.effect {
	background: #162633;
	text-align: left;

	img {
		@include transition(opacity, 0.45s ease-out);
		@include backface-visibility('hidden');
	}	

	.after {
		position: absolute;
		opacity: 0;
		top: 150%;
		left: -103%;
		width: 135%;
		height: 130%;
		background: #ebebeb;
		background-size: 100% 100%;
		content: '';
		-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
		transition: opacity 0.45s, transform 0.45s;
		@include rotate3d(0,0,1,45deg);		
		-webkit-transform-origin: 0 100%;
		transform-origin: 100% 0%;
	}	

	a {

		p {
			position: absolute;
			left: 0;
			width: 45%;
			bottom: 15%;
			padding: 2em 0 2em 7%;
			@include font-size(11);
			color: #000000;
			@include brandon;
			opacity: 0;
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			@include translate3d(0,50px,0);	
			text-transform: uppercase;
			

			span {
				display: block;
				@include caslon;
				@include font-size(13);
				color: #000;
				margin-top: 20px;
				text-transform: none;
				letter-spacing: 0;
			}	
		}			
	}		

	&:hover {

		img {
			opacity: 1;
			-webkit-filter: grayscale(100%);
		}
		
		.after {
			opacity: 1;
			@include rotate3d(0,0,1,113deg);

		}

		p {
			opacity: 1;
			@include translate3d(0,0,0);
		}	

		p {
			@include transition-delay(0.30s);
		}	
	} 	
}

.slideout {
	$width: 60%;
	position: fixed;
	width: $width;
	height: 100%;
	background: #ebebeb;
	z-index: 4000;
	@include transition(all 0.3s ease);

	.content {
		position: relative;
		height: 100%;

		.inner {
			padding: 15% 10%;
			position: absolute;
			top: 20%;
			width: 100%;

			&:before {
				@include icon(dot);
				color: #000;
				font-size: 6px;
				margin-bottom: 40px;
				display: block;				
			}

		}
		.btn {
			position: absolute;
			padding: 0;
			background: #fff;
			@include font-size(12);
		}		
	}	

	&.left {
		left: -$width;

		.inner {
		  margin: 15% 0% 25% 20%;
		  max-width: 200px;
		  padding: 0;
		}

		.btn {
			right: -80px;
			top: 45%;	
			@include rotate3d(0,0,1,-90deg);
			z-index: 5000;					
		}
	}

	&.right {
		right: -$width;

		.inner {
			padding: 15% 20% 25% 50%;
			text-align: right;
		}		

		.btn {
			left: -90px;
			top: 45%;	
			@include rotate3d(0,0,1, 90deg);
			z-index: 5000;						
		}		
	}

	&.active {

		.btn {
			background: none;
		}

		&.left {
			left: 0;

			.btn {
				right: auto;	
				left: 0px;
			}
			
		}

		&.right {
			right: 0;

			.btn {
				left: auto;	
				right: 0px;
			}			
		}
	}
}

.socials {
	@include inline-block;
	
	a {
		margin-right: 29px;
		@include font-size(10);

		&:last-child {
			margin-right: 0;			
		}

		&:hover {
			&.icon-linkedin {
				color: #0077B5;
			}

			&.icon-behance {
				color: #005CFF;
			}

			&.icon-instagram {
				color: #3E6D92;
			}

			&.icon-pinterest {
				color: #CD1D1F;

			}			
		}

	}
}

.work-title {
	position: fixed;
	top: 0;
	bottom: 0;
	margin: auto;
	@include font-size(12);
	left: 40px;
	@include transform-origin( 0, 50%);
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
     -moz-transform: rotate(-90deg) translate(-50%, 50%);
      -ms-transform: rotate(-90deg) translate(-50%, 50%);
       -o-transform: rotate(-90deg) translate(-50%, 50%);
          transform: rotate(-90deg) translate(-50%, 50%);	
}

.single-nav {
	margin-bottom: 1.5em;

	a {
		@include inline-block;
		@extend .btn;
		@include font-size(12);
		position: relative;

		&.prev-posts {
			margin-right: 63px;

			&:after {
				@include icon(chevron-left);
				position: absolute;
				top: 4px;		
				right: -33px;		
			}

		}

		&.next-posts {
			margin-left: 63px;

			&:before {
				@include icon(chevron-right);
				position: absolute;
				top: 4px;					
				left: -33px;
			}

		}
	}
}

#navbelow {
	.next-btn {
		display: none;
	}
}

#infscr-loading {
	@extend .clearfix;
	clear: left;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.issuuembed {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
}

.ipad {
	width: 426px;
	height: 287px;
	position: relative;
	background: url(../images/misc/ipad.png) left top no-repeat;
	padding: 17px 0 0 44px;
	margin: 0 auto;

	.inner {
		width: 339px;
		height: 254px;
		overflow: auto;

		img {
			width: 100%;
			height: auto;
		}
	}
}


.animsition-loading {
	@include animation(draw 4s infinite linear);
	opacity: 1;
	color: #000;

	&:after {
		display: none;
	}

	&:before {
		@include icon(logo);
		@include font-size(100);
		@include animation(rotateplane 4s infinite ease-in-out);

		@include keyframes(rotateplane) {
		    from 
		    { 
		        -webkit-transform: rotateY(0deg); 
		    } 
		    to { 
		        -webkit-transform: rotateY(-360deg); 
		    } 
		}		
	}
}
    



